<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.mymedic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMedic">
        <activity
            android:name=".ReportMenu"
            android:exported="false" />
        <activity
            android:name=".ReminderMenu"
            android:exported="false" />
        <activity
            android:name=".MedicationMenu"
            android:exported="false" />
        <activity
            android:name=".UserMainMenu"
            android:exported="false" />
        <activity
            android:name=".SignUpMenu"
            android:exported="false" />
        <activity
            android:name=".LoginMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>